.input-section {
  padding-top: 24px;
  padding-bottom: 30px;
  scroll-behavior: smooth;
  @media (min-width: 768px) {
    padding-top: 36px;
  }
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 80%;
  @media (min-width: 768px) {
    width: 60%;
  }
}
#input-name {
  width: 100%;
  height: 50px;
  border-radius: 20px;
  -webkit-border-radius: 20px; /* для Safari */
  -moz-border-radius: 20px; /* для Firefox */
  outline: none;
  outline: 1px solid rgb(210, 210, 210);
  border: none;
  text-align: center;
  &::placeholder {
    letter-spacing: 1px;
  }
}
#input-phone {
  width: 100%;
  height: 50px;
  margin-bottom: 16px;
  border-radius: 20px;
  -webkit-border-radius: 20px; /* для Safari */
  -moz-border-radius: 20px; /* для Firefox */
  outline: 1px solid rgb(210, 210, 210);
  border: none;
  text-align: center;
  &::placeholder {
    letter-spacing: 1px;
  }
}
