.section-slider {

}
.slider-title {
    margin: 0 0 16px 0;
    font-size: x-large;
    font-weight: 500;
}
.slider-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    background-color: rgb(170, 70, 70);
}