.steps-section {
    padding-bottom: 24px;
    @media (min-width: 768px) {
        padding-top: 8px;
    }
}
.steps-title-small {
    margin: 16px 0 0 0;
    font-weight: 800;
    font-size: larger;
    letter-spacing: 1px;
    @media (min-width: 768px) {
        padding-left: 35px;
    }
    @media (min-width: 1280px) {
        font-size: x-large;
    }
}
.steps-title-big {
    position: relative;
    margin: 0 0 36px 0;
    font-weight: 800;
    letter-spacing: 1px;
    &::before {
        content: "";
        width: 11%;
        height: 1px;
        background-color: #c43834;
        position: absolute;
        bottom: -7px;
        left: 10px;

        @media (min-width: 768px) {
            width: 7%;
            left: 38px;
        }
        @media (min-width: 1280px) {
            width: 5%;
            left: 45px;
        }
    }
    &::after {
        content: "";
        width: 11%;
        height: 1px;
        background-color: #c43834;
        position: absolute;
        bottom: -12px;
        left: 20px;
        @media (min-width: 768px) {
            width: 7%;
            left: 50px;
        }
        @media (min-width: 1280px) {
            width: 5%;
            left: 58px;
        }
    }

    @media (min-width: 768px) {
        padding-left: 35px;
        margin: 0 0 46px 0;
    }
    @media (min-width: 1280px) {
        font-size: 30px;
    }
}
.steps-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    letter-spacing: 1px;
    @media (min-width: 768px) {
        padding-left: 60px;
    }
    @media (min-width: 1280px) {
        padding-left: 100px;
    }
}
.steps-items {
    display: flex;
}
.steps-item {
    &:first-child,
    &:nth-child(3) {
        margin-right: 24px;
    }
    &:first-child,
    &:nth-child(2) {
        margin-bottom: 14px;
    }
}
.steps-item-block {
    position: relative;
    margin: 0 0 0 10px;
    width: 50px;
    height: 50px;
    &::before {
        content: "";
        position: absolute;
        bottom: -15px;
        left: 0;
        width: 90%;
        height: 1px;
        background-color: rgb(196, 56, 52);
    }
    &::after {
        content: "";
        position: absolute;
        bottom: -20px;
        right: -10px;
        width: 90%;
        height: 1px;
        background-color: rgb(196, 56, 52);
    }
}
.steps-item-title {
    margin: 36px 0 0;
}
.steps-item-text {
    margin: 10px 0 0 0;
}
