body {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    overflow-x: hidden;
    padding: 10px 20px;
    @media (min-width: 430px) {
        width: 430px;
    }

    @media (min-width: 768px) {
        width: 770px;
    }
    // @media (min-width: 1280px) {
    //     width: 1024px;
    // }
}
