<section class="gallery">
  <div class="advantage-wrapper-gallery-1">
    <ul class="advantage-list">
      <li class="advantage-item">
        <div class="advantage-item-icon">
          <img
            class="advantage-item-icon-img"
            src="./images/wing.png"
            alt="wing"
          />
        </div>
        <p class="advantage-item-text">не іржавіє</p>
      </li>
      <li class="advantage-item">
        <div class="advantage-item-icon">
          <img
            class="advantage-item-icon-img"
            src="./images/wing.png"
            alt="wing"
          />
        </div>
        <p class="advantage-item-text">стійка до води</p>
      </li>
      <li class="advantage-item">
        <div class="advantage-item-icon">
          <img
            class="advantage-item-icon-img"
            src="./images/wing.png"
            alt="wing"
          />
        </div>
        <p class="advantage-item-text">не втрачає яскравого кольору</p>
      </li>
      <li class="advantage-item">
        <div class="advantage-item-icon">
          <img
            class="advantage-item-icon-img"
            src="./images/wing.png"
            alt="wing"
          />
        </div>
        <p class="advantage-item-text">
          виготовлення таблички з якісного та надійного ПВХ пластику, який
          гарантує довгі роки використання
        </p>
      </li>
    </ul>
  </div>
  <div class="image-2-wrapper">
    <img class="image-2" src="./images/image_1.jpg" alt="image_1" />
  </div>
  <div class="advantage-wrapper-gallery-2">
    <ul class="advantage-list">
      <li class="advantage-item">
        <div class="advantage-item-icon">
          <img
            class="advantage-item-icon-img"
            src="./images/wing.png"
            alt="wing"
          />
        </div>
        <p class="advantage-item-text">табличка яка слугує понад 10 років</p>
      </li>
      <li class="advantage-item">
        <div class="advantage-item-icon">
          <img
            class="advantage-item-icon-img"
            src="./images/wing.png"
            alt="wing"
          />
        </div>
        <p class="advantage-item-text">виготовлення за 3 дні</p>
      </li>
      <li class="advantage-item">
        <div class="advantage-item-icon">
          <img
            class="advantage-item-icon-img"
            src="./images/wing.png"
            alt="wing"
          />
        </div>
        <p class="advantage-item-text">6 патріотичних фонів</p>
      </li>
      <li class="advantage-item">
        <div class="advantage-item-icon">
          <img
            class="advantage-item-icon-img"
            src="./images/wing.png"
            alt="wing"
          />
        </div>
        <p class="advantage-item-text">
          замовляй без передоплат (відправляємо наложкою)
        </p>
      </li>
    </ul>
  </div>
  <div class="image-2-wrapper">
    <img class="image-2" src="./images/image_2.jpg" alt="image_2" />
  </div>
</section>
