<section id="input-section" class="input-section">
  <form class="form" action="#" method="post">
    <div class="input-wrapper">
    <input type="text" id="input-name" name="name" placeholder="Введіть своє ім'я"/>

    <input type="text" id="input-phone" name="phone" placeholder="Введіть номер телефону"/>
</div>

    <button type="submit" class="button">Оформити замовлення</button>
    <p class="button-text">
      Залишилося <span class="button-text-num">9</span> упаковок за акцією
    </p>
  </form>
</section>
