<section id="input-section" class="input-section">
  <form class="form" action="/submit" method="POST" >
    <div class="input-wrapper">
    <input type="text" id="input-name" name="name" placeholder="Введіть своє ім'я" required/>

    <input type="tel" id="input-phone" name="phone" placeholder="Введіть номер телефону" required/>
</div>

    <button type="submit" id="submit-button" class="button">Оформити замовлення</button>
    <p class="button-text">
      Залишилося <span class="button-text-num">9</span> упаковок за акцією
    </p>
  </form>
</section>
