<section class="main-wrapper">
  <div id="countdown-timer"></div>
  <div class="title-wrapper">
    <h1 class="title">АДРЕСНІ ТАБЛИЧКИ</h1>
    <p class="semi-title">від виробника</p>
  </div>
  <!---->
  <div class="main-image">
    <img
      class="main-image-photo"
      src="./images/main-image.jpg"
      alt="main-image"
    />
  </div>

  <!---->
  <div class="price-wrapper">
    <div class="price-item-black">
      <span class="price-item-text">звичайна ціна</span>

      <div class="cross-relative">
      <div class="cross-wrapper">
        <div class="horizontal"></div>
        <div class="vertical"></div>
      </div>
      <span class="price">850 грн</span>
    </div>


    </div>
    <div class="price-item-red">
      <span class="price-item-text">ціна сьогодні</span>
      <span class="price">499 грн</span>
    </div>
  </div>

  <!---->
  <div class="advantage-wrapper">
    <ul class="advantage-list">
      <li class="advantage-item">
        <div class="advantage-item-icon">
          <img class="advantage-item-icon-img" src="./images/wing.png" alt="wing">
        </div>
        <p class="advantage-item-text">
          табличка яка слугує понад 10 років
        </p>
      </li>
      <li class="advantage-item">
        <div class="advantage-item-icon">
          <img class="advantage-item-icon-img" src="./images/wing.png" alt="wing">
        </div>
        <p class="advantage-item-text">виготовлення за 3 дні</p>
      </li>
      <li class="advantage-item">
        <div class="advantage-item-icon">
          <img class="advantage-item-icon-img" src="./images/wing.png" alt="wing">
        </div>
        <p class="advantage-item-text">6 патріотичних фонів</p>
      </li>
      <li class="advantage-item">
        <div class="advantage-item-icon">
          <img class="advantage-item-icon-img" src="./images/wing.png" alt="wing">
        </div>
        <p class="advantage-item-text">замовляй без передоплат (відправляємо наложкою)</p>
      </li>
    </ul>
  </div>
  <!---->
  <div class="section-timer">
    <p class="timer-title">пропозиція діє:</p>
  <div class="timer-box">
    <div class="timer-wrapper">
      <div class="timer-thumb">
      <div class="time-hour" id="hour-tens">0</div>
      <div class="time-hour" id="hour"></div>
    </div>
      <p class="time-text">Годин</p>
    </div>
    <div class="timer-wrapper">
      <div class="timer-thumb">
      <div class="time-hour" id="min-tens"></div>
      <div class="time-hour" id="min"></div>
    </div>
      <p class="time-text">Хвилин</p>
    </div>
    <div class="timer-wrapper">
      <div class="timer-thumb">
      <div class="time-hour" id="sec-tens"></div>
      <div class="time-hour" id="sec"></div>
    </div>
      <p class="time-text">Секунд</p>
    </div>
  </div>
</div>
</section>
