<section class="section-slider">
  <p class="slider-title">Відгуки наших покупців:</p>
    <div class="slider-container">
      
        
<!-- Slider main container -->
<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <div class="slider-wrapper"><img class="slider-image" src="./images/photo_client_10.jpg" alt="client-10"></div>
      </div>
      <div class="swiper-slide">
        <div class="slider-wrapper"><img class="slider-image" src="./images/photo_client_13.jpg" alt="client-13"></div>
      </div>
      <div class="swiper-slide">
        <div class="slider-wrapper"><img class="slider-image" src="./images/photo_client_8.jpg" alt="client-8"></div>
      </div>
      <div class="swiper-slide">
        <div class="slider-wrapper"><img class="slider-image" src="./images/photo_client_7.jpg" alt="client-7"></div>
      </div>
      <div class="swiper-slide">
        <div class="slider-wrapper"><img class="slider-image" src="./images/photo_client_5.jpg" alt="client-2"></div>
      </div>
      <div class="swiper-slide">
        <div class="slider-wrapper"><img class="slider-image" src="./images/photo_client_12.jpg" alt="client-12"></div>
      </div>
      <div class="swiper-slide">
        <div class="slider-wrapper"><img class="slider-image" src="./images/photo_client_4.jpg" alt="client-4"></div>
      </div>
      <div class="swiper-slide">
        <div class="slider-wrapper"><img class="slider-image" src="./images/photo_client_9.jpg" alt="client-9"></div>
      </div>
      <div class="swiper-slide">
        <div class="slider-wrapper"><img class="slider-image" src="./images/photo_client_3.jpg" alt="client-3"></div>
      </div>
      <div class="swiper-slide">
        <div class="slider-wrapper"><img class="slider-image" src="./images/photo_client_1.jpg" alt="client-1"></div>
      </div>
      <div class="swiper-slide">
        <div class="slider-wrapper"><img class="slider-image" src="./images/photo_client_2.jpg" alt="client-2"></div>
      </div>
      <div class="swiper-slide">
        <div class="slider-wrapper"><img class="slider-image" src="./images/photo_client_14.jpg" alt="client-14"></div>
      </div>
      <div class="swiper-slide">
        <div class="slider-wrapper"><img class="slider-image" src="./images/photo_client_11.jpg" alt="client-11"></div>
      </div>
      <div class="swiper-slide">
        <div class="slider-wrapper"><img class="slider-image" src="./images/photo_client_6.jpg" alt="client-6"></div>
      </div>
      <div class="swiper-slide">
        <div class="slider-wrapper"><img class="slider-image" src="./images/photo_client_15.jpg" alt="client-15"></div>
      </div>
      <div class="swiper-slide">
        <div class="slider-wrapper"><img class="slider-image" src="./images/photo_client_17.jpg" alt="client-17"></div>
      </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  
    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>

</div>
</section>
