<section class="section-slider">
  <p class="slider-title">Відгуки наших покупців:</p>
    <div class="slider-container">
      
        
<!-- Slider main container -->
<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <div class="slider-wrapper">SLIDER</div>
      </div>
      <div class="swiper-slide">
        <div class="slider-wrapper">SWIPER</div>
      </div>
      <div class="swiper-slide">
        <div class="slider-wrapper">SPIDER</div>
      </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  
    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>

</div>
</section>
