<section class="steps-section">
  <p class="steps-title-small">Як замовити</p>
  <h2 class="steps-title-big">АДРЕСНУ ТАБЛИЧКУ</h2>
  <ul class="steps-list">
    <li class="steps-item">
      <div class="steps-item-block">
        <img
          src="./images/order_steps_pencil_icon.png"
          alt="pencil"
          class="steps-item-block-image"
        />
      </div>
      <h3 class="steps-item-title">Заявка</h3>
      <p class="steps-item-text">Залишаєте заявку на сайті</p>
    </li>

    <li class="steps-item">
      <div class="steps-item-block">
        <img
          src="./images/order_steps_phone_icon.png"
          alt="pencil"
          class="steps-item-block-image"
        />
      </div>
      <h3 class="steps-item-title">Дзвінок</h3>
      <p class="steps-item-text">Наш менеджер уточнює деталі замовлення</p>
    </li>

    <li class="steps-item">
      <div class="steps-item-block">
        <img
          src="./images/order_steps_fly_icon.png"
          alt="pencil"
          class="steps-item-block-image"
        />
      </div>
      <h3 class="steps-item-title">Відправка</h3>
      <p class="steps-item-text">Доставимо ваш товар протягом 1-3 днів</p>
    </li>

    <li class="steps-item">
      <div class="steps-item-block">
        <img
          src="./images/order_steps_wallet_icon.png"
          alt="pencil"
          class="steps-item-block-image"
        />
      </div>
      <h3 class="steps-item-title">Отримання</h3>
      <p class="steps-item-text">Оплачуєте при отриманні поштою</p>
    </li>
  </ul>
</section>
